a {
  text-decoration: underline;
  text-decoration-color: #ED8D07;
  text-decoration-thickness: 2px;

  &.navbar-item,
  &.dropdown-item,
  &.card,
  &.button,
  &[href="#comments"],
  &.router-link-active,
  &.comment-link,
  &.pagination-link,
  &.datepicker-cell,
  &.list-item {
    text-decoration: none;
  }
}

input.input {
  border-color: $input-border-color !important;
}

.section {
  padding: 1rem 2rem 4rem;
}

figure img.is-rounded {
  border: 1px solid #cdcaea;
}

$color-black: #000;

.mention {
  background: rgba($color-black, 0.1);
  color: rgba($color-black, 0.6);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem;
  white-space: nowrap;
  margin-right: 0.2rem;
}

.mention-suggestion {
  color: rgba($color-black, 0.6);
}

.mention .mention {
  background: initial;
  margin-right: 0;
}