@import "~bulma/sass/utilities/_all";

$bleuvert: #1e7d97;
$jaune: #ffd599;
$violet: #424056;

/**
 * Text body, paragraphs
 */
$violet-1: #3A384C;
$violet-2: #474467;

/**
 * Titles, dark borders, buttons
 */
$violet-3: #3C376E;

/**
 * Borders
 */
$borders: #D7D6DE;
$backgrounds: #ECEBF2;

/**
 * Text
 */
$purple-1: #757199;

/**
 * Background
 */
$purple-2: #CDCAEA;
$purple-3: #E6E4F4;

$orange-2: #ED8D07;
$orange-3: #D35204;

$yellow-1: #FFD599;
$yellow-2: #FFF1DE;
$yellow-3: #FBD5CB;
$yellow-4: #f7ba30;

$primary: $bleuvert;
$primary-invert: findColorInvert($primary);
$secondary: $jaune;
$secondary-invert: findColorInvert($secondary);

$background-color: $violet-2;

$success: #0D8758;
$success-invert: findColorInvert($success);
$info: #36bcd4;
$info-invert: findColorInvert($info);
$danger: #FF2E54;
$danger-invert: findColorInvert($danger);
$link: $primary;
$link-invert: $primary-invert;
$text: $violet-1;

$colors: map-merge($colors,
  ("primary": ($primary,
      $primary-invert,
    ),
    "secondary": ($secondary,
      $secondary-invert,
    ),
    "success": ($success,
      $success-invert,
    ),
    "info": ($info,
      $info-invert,
    ),
    "danger": ($danger,
      $danger-invert,
    ),
    "link": ($link,
      $link-invert,
    ),
  ));

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $background-color;
$navbar-height: 4rem;

// Footer
$footer-padding: 3rem 1.5rem 1rem;
$footer-background-color: $background-color;

$body-background-color: #efeef4;
$fullhd-enabled: false;
$hero-body-padding-medium: 6rem 1.5rem;

main>.container {
  background: $body-background-color;
}

$title-color: #3c376e;
$title-family: "Liberation Sans",
"Helvetica Neue",
Roboto,
Helvetica,
Arial,
serif;
$title-weight: 700;
$title-size: 40px;
$title-sub-size: 45px;
$title-sup-size: 30px;

$subtitle-color: #3a384c;
$subtitle-family: "Liberation Sans",
"Helvetica Neue",
Roboto,
Helvetica,
Arial,
serif;
$subtitle-weight: 400;
$subtitle-size: 32px;
$subtitle-sub-size: 30px;
$subtitle-sup-size: 15px;

.title {
  margin: 30px auto 45px;
}

.subtitle {
  background: $secondary;
  display: inline;
  padding: 3px 8px;
  margin: 15px auto 30px;
}

$input-border-color: #dbdbdb;
$breadcrumb-item-color: $primary;
$checkbox-background-color: #fff;
$title-color: $violet-3;